.recipes-list {
    max-width: 100%;

    .filter-col {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.detail-container {
    overflow: hidden;
    max-width: 95% !important;

    .row {
        h2 {
            font: 700 2.75rem sans-serif;
        }

        h3 {
            font: 700 2rem sans-serif;
        }

        ul .ingredient-item {
            margin-left: 20px;
            list-style: none;

            p {
                font: 300 1.2rem sans-serif;
            }
        }

        .img-container {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 65svh;

            img {
                height: 100%;
                width: 65%;
                object-fit: cover;
                overflow: hidden;
                border-radius: 20px;
            }
        }
    }
}

.welcome-container {
    position: relative;
    height: 100svh;

    .row {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        h2 {
            font-size: 5rem;
        }

        span {
            font-size: 2rem;
        }
    }
}
