.custom-button {
    padding: 15px 12px !important;
    background: rgb(251, 3, 3);
    background: linear-gradient(
        90deg,
        rgba(251, 3, 3, 1) 0%,
        rgba(255, 31, 0, 1) 100%
    );
    width: 100%;
}
