.add-recipe-container {
    
    h3 {
        font: 600 1.5rem sans-serif;
        margin-bottom: 30px;
    }
    
    .recipe-detail {
        margin-top: 20px;
        padding: 30px 20px;
        border-radius: 30px;
        background-color: #9b9b9b;
    }
}